{% extends "base.html" %}

{% block content %}

<div>  
    <br>
    <br>
    <br>
    <h1 style="text-align:center">form b</h1>
    <br>
    <br>
    <p style="text-align:center"> Podaj link do dobrej muzyki. Nie bierzemy jeńców</p>
    <br>
    <br>
    <form style="text-align:center" action="" method="post">
        
        {{form.csrf_token() }}
            
        <p><b>x</b></p>
        <p>{{form.x}}</p>
            
        <p><b>zaznacz</b></p>
        <p>{{form.z}}</p>
            
        <p>{{form.button}}</p>

    </form>
    
</div>  

{% endblock %}
