<!DOCTYPE>
<html>
<head>
</head>

<body>
    <br>
    <h1 style="text-align:center"><div><span style="color: #001eff"></span></div>
        <div><span style="color: #2a44d5">██╗░░██╗██████╗░██████╗░██████╗░</span></div>
        <div><span style="color: #2a44d5ad">╚██╗██╔╝██╔══██╗██╔══██╗██╔══██╗</span></div>
        <div><span style="color: #2a44d570">░╚███╔╝░██║░░██║██║░░██║██║░░██║</span></div>
        <div><span style="color: #fbff0070">░██╔██╗░██║░░██║██║░░██║██║░░██║</span></div>
        <div><span style="color: #fbff00ad">██╔╝╚██╗██████╔╝██████╔╝██████╔╝</span></div>
        <div><span style="color: #fbff00">╚═╝░░╚═╝╚═════╝░╚═════╝░╚═════╝░</span></div>
    </h1>
    <br>
    <br>
    <br>
    <br>
    <h1 style="text-align:center">Dużo siły i miłości dla Ukrainy! Jesteśmy z wami.</h1>
</body>

</html>