<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Muzyka</title>
    <style>

        table, th, td{
            border: 1px solid #000;
            border-collapse: collapse;
        }

    </style>
</head>
<body>
<div style="text-align:center">  
<table>
    <tr>
        <th>Autor</th>
        <th>Utwór</th>
        <th>Kiedy dodane</th>
        <th>Kto dodał</th>
    </tr>
    {% for data in lst %}
    <tr>
        {% for d in data %}
            <td>{{d}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
</div>
</body>
</html>