<!DOCTYPE>
<html>
<head>
</head>

<style>
body {
    background-image: url('https://images.pexels.com/photos/2325446/pexels-photo-2325446.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
</style>

<body>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1 style="text-align:center;font-family:Lato">{{text}}</h1>
    <h5 style="text-align:center">Źródło grafiki: https://www.pexels.com/photo/hot-air-ballons-in-the-sky-2325446/</h5>
</body>

</html>
