{% extends "base.html" %}

{% block content %}


    <div>  
        <br>
        <br>
        <br>
        <h1 style="text-align:center">form a</h1>
        <br>
        <br>
        <form style="text-align:center" action="" method="post">
        
            {{form.csrf_token() }}
                
            <p><b>x</b></p>
            <p>{{form.x}}</p>
                
            <p><b>y</b></p>
            <p>{{form.y}}</p>
                
            <p><b>z</b></p>
            <p>{{form.z}}</p>
                
            <p>{{form.button}}</p>

        </form>
    </div>

{% endblock %}